* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins";
}

html {
    scroll-behavior: smooth;
}

/* Font */

ul {
    list-style-type: none;
}

.bold-title-1 {
    font-weight: bold;
    font-size: 36px;
}

.reg {
    font-family: "Poppins";
    font-size: 16px;
}

.bold-reg {
    font-weight: bold;
    font-family: "Poppins";
    font-size: 16px;
}

.btn-primary-manual {
    color: rgb(231, 180, 255);
    background-color: transparent;
    border: 1px solid rgb(231, 180, 255);
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-primary-manual:hover {
    background-color: rgb(231, 180, 255);
    color: black;
}

.btn-secondary {
    color: black;
    background-color: rgb(231, 180, 255);
    border: none;
    padding: 10px 30px;
    border-radius: 3px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-secondary-ot {
    color: black;
    background-color: rgb(231, 180, 255);
    border: none;
    margin-top: 1%;
    padding: 10px 0%;
    width: 100%;
    border-radius: 3px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-secondary:hover, .btn-secondary-ot:hover {
    background-color: rgba(231, 180, 255, 0.647);
    color: white;
}

/* color */
.purp, .content-1 span{
    color: rgb(231, 180, 255);
}

.blue {
    color: rgb(166, 255, 249);
}

.grad {
    background-image: linear-gradient(to right, rgb(166, 255, 249), rgb(231, 180, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* nav bar */
nav {
    background-color: rgb(71, 71, 71);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    position: sticky;
    top: 0%;
    z-index: 3;
}

nav a {
    text-decoration: none;
}

.logo img {
    width: 5%;
}

.logo {
    padding: 0% 4%;
    gap: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.ul-nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0% 4%;
    gap: 30px;
}

.li-nav {
    text-decoration: none;
}

.non-active {
    transition: 1s;
    color: rgba(230, 230, 230, 0.388);
}

.active, .non-active:hover {
    color: rgb(255, 255, 255);
}

/* content */
.container-manual {
    background-color: rgb(48, 48, 48);
    padding: 2% 4% 4% 4%;
}

.content-1 {
    box-sizing: border-box;
    height: 90vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-1 img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
}

.ln-spacing {
    margin-top: 30px;
}

.sizing-width {
    width: 90%;
}

.content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    border-radius: 2px;
    width: 95%;
    padding: 10px;
}

.glass {
    background: rgba(86, 86, 86, 0.173);
    border-radius: 16px;
    -webkit-backdrop-filter: blur(6.4px);
    backdrop-filter: blur(6.4px);
    border: 1px solid rgba(81, 80, 80, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.tab {
    width: 100%;
    display: flex;
}

.tab button {
    text-align: center;
    margin: 0% 1%;
    width: 100%;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(74, 74, 74);
    border: 1px solid rgb(231, 180, 255);
}

.bound {
    padding: 3% 1% 1%;
}

.first {
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
}

.second {
    padding-top: 2%;
}

.pro-title {
    border-bottom: 3px solid rgb(231, 180, 255);
    /* text-decoration: underline; */
}

.sub-desc {
    color: white;
    padding: 1% 0%;
    text-align: justify;
}

#Project-1 .first img{
    width: 50%;
    height: 60vh;
    border-radius: 10px;
}

#Project-2 .first img, #Project-3 .first img, #Project-4 .first img, #Project-5 .first img {
    width: 50%;
    border-radius: 10px;
}

.right-side {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 3%;
    text-decoration: none;
}

.container-comp {
    display: flex;
    gap: 5%;
}

.comp {
    border-radius: 8px;
    margin: 2% 0% 0%; 
    width: 100%;
    padding: 15px;
    border: 3px solid rgb(231, 180, 255);
    color: white;
}

.comp-title {
    padding: 0% 0% 2%;
    color: rgb(231, 180, 255);
}

.ab-title-1 {
    color: white;
}

.left-ex{
    display: flex;
    align-items: center;
}

.left-cn img {
    width: 60px;
    height: 60px;
}

.left-ex img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.right-ex {
    width: 100%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-ex a {
    text-decoration: none;
    color: white;
}

.ab-cont {
    display: flex;
    align-items: center;
    color: white;
    padding: 1% 0%;
}

.bable {
    padding: 1% 0% 0%;
}

.high-light {
    background-color: rgb(166, 255, 249);
    padding: 5px 25px;
    color: black;
    border-radius: 4px;
    margin-right: 5px;
}

.hard-skills {
    color: white;
    display: flex;
    gap: 5%;
}

.comp-lang, .my-github {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.my-github p{
    margin: 1% 0%;
    text-align: center;
    width: 75%;
}

.my-github img {
    width: 180px;
    height: 173px;
    border-radius: 10px;
}

.btn-top {
    position: fixed;
    top: 20vh;
    right: 0;
    z-index: 4;
    border-radius: 20px 0px 0px 20px;
    padding: 5px 10px;
    border: none;
    background-color: rgb(231, 180, 255);
    font-weight: bold;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn-top:hover {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: rgb(190, 150, 209);
}


.md {
    margin-bottom: 10vh;
}

footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(71, 71, 71);
}

.foo-title {
    width: 75%;
    text-align: center;
}

.foo-last {
    padding: 1% 0%;
}

@media only screen and (max-width: 800px) {
    .container-comp {
        display: block;
        gap: 0%;
    }
}
